@import "tailwindcss";

:root {
  --background: #1a1a1c;
  --foreground: #e4e4e7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-sans-kr);
  --font-mono: var(--font-geist-mono);
  --color-dark-200: #e4e4e7;
  --color-dark-500: #252526;
  --color-dark-600: #1e1e1f;
  --color-blurple-500: #5865f2;
  --color-blurple-600: #4752c4;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans-kr), system-ui, sans-serif;
}
